@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    --scaling: 0.9;
    --background: #ffffff;
    --hover: #e2e2e2;
    --accent: #ab4aff;
    --borderStyle: 0.25rem solid black;
    --borderRadius: calc(20px * var(--scaling));
    --shadow: 0 0.2rem 0 rgba(0, 0, 0, 0.1);
    --transition-time: 250ms;
    
    font-size: calc(16px * var(--scaling));
    font-family: 'Rubik', sans-serif;
    text-shadow: var(--shadow);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General */
body {
    display: flex;
    background-color: --background;
    /*justify-content: center;*/
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

.bold { font-weight: bold; }

.italic { font-style: italic; }

.accent { color: var(--accent) }

#addButton {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    background-color: var(--accent);
    color: white;
    transition: background-color 250ms;
    border: 0;
    border-radius: 100%;
    --borderRadius: 2rem;
    width: calc(var(--borderRadius) * 2);
    height: calc(var(--borderRadius) * 2);
    font-size: calc(var(--borderRadius) * 1);
    text-shadow: var(--shadow);
    box-shadow: var(--shadow);
    border: var(--borderStyle);

    & img {
        color: red;
    }

    &:hover {
        background-color: color-mix(in srgb, black 10%, var(--accent));
        cursor: pointer;
    }
}

#nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    margin: 0.5rem; /* temp */
    border: var(--borderStyle);
    border-radius: var(--borderRadius);
    width: 95%;
    height: 5rem;

    & #logo {
        font-size: 2.5rem;

        & .accent {
            font-weight: bold;
            color: var(--accent);
        }
    }

    & #items {
        display: flex;
        flex-direction: row;
        align-items: center;

        & ul {
            display: flex;
            list-style-type: none;
            gap: 0.75rem;

            & li {
                display: inline;
                font-size: 1.5rem;
                transition: transform var(--transition-time);
                
                &:hover {
                    cursor: pointer;
                    transform: translate(0px, -0.2rem);
                }
            }
        }
    }
}

#body {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

#main {
    display: flex;
    border: var(--borderStyle);
    border-radius: var(--borderRadius);
    padding: 0.5rem;
    width: 100rem;
    height: 50rem;
}

#information {
    --width: 25rem;
    min-width: var(--width);
    max-width: var(--width);
    padding: 0.5rem;
    box-shadow: var(--shadow);

    & #informationDayName {
        font-size: 2.5rem;
        font-weight: bold;
    }

    & #informationDate {
        font-size: 2.5rem;
    }

    & #informationExerciseNames {
        color: var(--accent);
    }

    & .title {
        font-size: 1.5rem;
        color: rgb(136, 136, 136);
    }

    & .subtitle {
        font-size: 1.25rem;
    }

    & #informationExerciseDescriptions {
        display: flex;
        flex-direction: column;

        & > * {
            display: flex;
            flex-direction: row;
            gap: 0.3rem;
        }

        & a {
            width: fit-content;
            cursor: pointer;
        }
    }
}

/* Calendar */
#calendar {
    display: flex;
    flex-direction: column;
    background-color: var(--background);
    width: 100%;
}

#calendar .header {
    display: flex;
    height: 3rem;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 0 0.5rem 0.5rem 0.5rem;

    & .date {
        font-size: 2.5rem;
    }

    & .switcher {
        display: flex;
        margin: 0;
        & button {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 2.5rem;
            font-size: 1.25rem;
            background-color: var(--background);
            transition: background-color var(--transition-time);
            border: var(--borderStyle);
            padding: 0 0.5rem;
            cursor: pointer;

            &:hover {
                background-color: var(--hover);
            }
        }
        
        & #gotoPreviousMonth {
            border-top-left-radius: var(--borderRadius);
            border-bottom-left-radius: var(--borderRadius);
            padding-left: calc(var(--borderRadius) / 2);
        }

        & #gotoToday {
            padding: 0 1rem;
            border-left: 0;
            border-right: 0;
            font-family: inherit;
        }

        & #gotoNextMonth {
            border-top-right-radius: var(--borderRadius);
            border-bottom-right-radius: var(--borderRadius);
            padding-right: calc(var(--borderRadius) / 2);
        }
    }
}

#calendar .dayTitles {
    display: grid;;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 0.5rem;

    & .title {
        font-size: 1.25rem;
        text-align: center;
    }
}

#calendar #days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 0.5rem;
    flex: 1;
    background-color: var(--background);
    font-size: 1.25rem;

    & > * {
        text-align: right;
        --padding: 0.5rem;
        padding: var(--padding);
        background-color: var(--background);
        transition: background-color var(--transition-time);
        border: var(--borderStyle);
        border-radius: calc(var(--borderRadius) - var(--padding));
        cursor: pointer;
        opacity: 1;
        pointer-events: all;
        min-width: 7rem;
        min-height: 6rem;
        
        &:hover {
            background-color: var(--hover);
        }

        & .orb {
            display: block;
            margin-top: 0.25rem;
            margin-left: auto;
            width: 0.75rem;
            height: 0.75rem;
            border-radius: 100%;
            box-shadow: var(--shadow);
            background-color: var(--accent);
        }

        & > * {
            pointer-events: none; 
        }
    }

    & .empty {
        color: rgba(0,0,0,0);
        opacity: 0.2;
        text-shadow: none;
        user-select: none;
        pointer-events: none;
    }

    & .currentday {
        border-color: color-mix(in oklab, black 60%, var(--accent));
        background-color: color-mix(in srgb, var(--accent) 10%, white);
        color: var(--accent);

        &:hover {
            background-color: color-mix(in srgb, var(--accent) 25%, white);
        }
    }
}

/* Dialogs */
dialog {
    z-index: 1;
    width: 100vw;
    height: 100vh;
    border: 0;
    background-color: rgba(255, 255, 255, 0.8);

    & .closeButton {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0.5rem;
        right: 0.5rem;
        width: 2rem;
        height: 2rem;
        font-size: 1rem;
        background-color: white;
        border: var(--borderStyle);
        border-radius: 100%;
        box-shadow: var(--shadow);
        cursor: pointer;
        transition: background-color var(--transition-time);

        &:hover {
            background-color: var(--hover);
        }

        & > * {
            pointer-events: none;
        }
    }

    & .inner {
        display: flex;
        flex-direction: column;
        position: absolute;
        border: var(--borderStyle);
        border-radius: var(--borderRadius);
        width: fit-content;
        height: fit-content;
        background-color: white;
        padding: 1rem 2rem;
        box-shadow: var(--shadow);

        position: absolute;
        margin: auto;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }
    
    & .header {
        font-size: 2.5rem;
    }

    & .content {
        display: flex;
        flex-direction: row;
    }
}

#exerciseViewer {
    & .content {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        width: 80rem;
        height: 50rem;

        & .sidebar {
            --width: 20rem;
            min-width: var(--width);
            max-width: var(--width);
            overflow-y: scroll;
            overflow-x: hidden;
            list-style-type: none;
            text-align: center;
            border: var(--borderStyle);
            border-radius: var(--borderRadius);
            box-shadow: var(--shadow);

            & li {
                font-size: 1.25rem;
                padding: 0.3rem 0rem;
                transition: background-color var(--transition-time);

                &:hover {
                    background-color: var(--hover);
                    border-radius: calc(var(--borderRadius) / 2);
                }
            }
        }
        
        & .main {
            opacity: 0;
            overflow-y: scroll;
            display: flex;
            flex-direction: column;
            gap: 0.25rem;

            & h1 {
                text-align: center;
                font-size: 1.75rem;
            }

            & .exerciseViewerImages {
                display: flex;
                justify-content: center;
                gap: 1rem;

                & img {
                    display: inline;
                    width: 50%;
                    border-radius: var(--borderRadius);
                    box-shadow: var(--shadow);
                }
            }

            & p {
                font-size: 1.25rem;
                white-space: pre-line;
            }
        }
    }
}

#diagramPicker .content {
    & #diagram {
        position: relative;
        
        & area {
            cursor: pointer;
        }
        
        & #diagramImage {
            width: 30rem;
        }
        & #selector {
            position: absolute;
            pointer-events: none;
            width: 3rem;
            height: 3rem;
            background: rgb(255, 95, 95);
            top: 50%;
            left: 50%;
            border-radius: 100%;
            opacity: 0;
            transform: translate(-50%, -50%);
            transition: 350ms ease;
        }
    }
    & #sidebar {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        max-height: auto;
    }
    & #information {
        border: var(--borderStyle);
        border-radius: var(--borderRadius);
        width: 30rem;
        height: 34rem;
        padding: 1rem;
        overflow-y: scroll;
        & h1 {
            font-size: 2rem;
            font-weight: normal;
        }
        & h2 {
            font-size: 1rem;
            font-weight: normal;
        }
        & p {
            font-size: 1.25rem;
            text-overflow: ellipsis;
        }
    }
    & .difficulty {
        display: flex;
        flex-direction: row;
        align-items:  center;
        gap: 0.5rem;

        & label {
            font-size: 1.25rem;
        }

        & select {
            font-size: 1rem;
            background-color: white;
            border: var(--borderStyle);
            border-radius: var(--borderRadius);
            padding: 0.25rem;
            text-align: center;
        }
    }
    & #buttons {
        & button {
            border: var(--borderStyle);
            border-radius: var(--borderRadius);
            font-size: 1.5rem;
            padding: 0.5rem 1rem;
            text-shadow: var(--shadow);
            box-shadow: var(--shadow);
            cursor: pointer;
            transition: var(--transition-time) background-color;
        }
        & .primary {
            background-color: var(--accent);
            color: white;
            &:hover {
                background-color: color-mix(in srgb, black 20%, var(--accent));
            }
        }
        & .secondary {
            background-color: white;
            color: black;
            &:hover {
                background-color: color-mix(in srgb, black 10%, white);
            }
        }
    }
}

/* Tag */
.tags {
    display: flex;
    flex-direction: row;
    gap: 0.25rem;
    pointer-events: none;

    & .tag {
        border: var(--borderStyle);
        border-radius: calc(var(--borderRadius) / 2);
        font-size: 1rem;
        padding: 0.3rem;
        box-shadow: var(--shadow);
        background-color: color-mix(in oklab, white 40%, var(--accent));
        overflow: hidden;

        &::before {
            display: inline;
            position: relative;
            content: attr(data-name);
            background-color: rgba(0,0,0,0.25);
            padding: 0.5rem;
            margin-right: 0.5rem;
            margin-left: -0.3rem;
            border-right: var(--borderStyle);
        }

        &::after {
            /* Bit of a stupid hack to get the padding right, but it works :) */
            content: ".";
            opacity:0;
        }
    }
}   