:root {
    --scaling: 1;
    --background: #ffffff;
    --hover: #e2e2e2;
    --accent: #ab4aff;
    --border: 0.25rem solid black;
    --radius: calc(20px * var(--scaling));
    --shadow: 0 0.2rem 0 rgba(0, 0, 0, 0.1);
    --transition-time: 250ms;
    
    font-size: calc(16px * var(--scaling));
    font-family: 'Bahnschrift', sans-serif;
    text-shadow: var(--shadow);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General */
body {
    display: flex;
    background-color: --background;
    /*justify-content: center;*/
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

#add {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    background-color: var(--accent);
    color: white;
    transition: background-color 250ms;
    border: 0;
    border-radius: 100%;
    --radius: 2rem;
    width: calc(var(--radius) * 2);
    height: calc(var(--radius) * 2);
    font-size: calc(var(--radius) * 1);
    text-shadow: var(--shadow);
    box-shadow: var(--shadow);
    border: var(--border);

    &:hover {
        background-color: color-mix(in srgb, black 10%, var(--accent));
        cursor: pointer;
    }
}

#nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    margin: 0.5rem; /* temp */
    border: var(--border);
    border-radius: var(--radius);
    width: 95%;
    height: 5rem;

    & #logo {
        font-size: 2.5rem;

        & .accent {
            font-weight: bold;
            color: var(--accent);
        }
    }

    & #items {
        display: flex;
        flex-direction: row;
        align-items: center;

        & ul {
            list-style-type: none;

            & li {
                display: inline;
                font-size: 1.5rem;
            }
        }
    }
}

#main {
    display: flex;
    border: var(--border);
    border-radius: var(--radius);
    padding: 0.5rem;
    min-width: 100rem;
    height: 50rem;
}

#information {
    min-width: 23rem;
    padding: 0.5rem;

    & #informationDayName {
        font-size: 2.5rem;
        font-weight: bold;
    }

    & #informationDate {
        font-size: 2.5rem;
    }

    & #informationExerciseNames {
        color: var(--accent);
    }

    & .title {
        font-size: 1.5rem;
        color: rgb(136, 136, 136);
    }

    & .subtitle {
        font-size: 1.25rem;
    }
}

/* Calendar */
#calendar {
    display: flex;
    flex-direction: column;
    background-color: var(--background);
    width: 100%;
}

#calendar .header {
    display: flex;
    height: 3rem;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 0 0.5rem 0.5rem 0.5rem;

    & .date {
        font-size: 2.5rem;

        & .month {
            font-weight: bold;
        }
    }

    & .switcher {
        display: flex;
        margin: 0;
        & button {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 2.5rem;
            font-size: 1.25rem;
            background-color: var(--background);
            transition: background-color var(--transition-time);
            border: var(--border);
            padding: 0 0.5rem;
            cursor: pointer;

            &:hover {
                background-color: var(--hover);
            }
        }
        
        & .left {
            border-right: 0;
            border-top-left-radius: var(--radius);
            border-bottom-left-radius: var(--radius);
        }

        & .today {
            padding: 0 1rem;
        }

        & .right {
            border-left: 0;
            border-top-right-radius: var(--radius);
            border-bottom-right-radius: var(--radius);
        }
    }
}

#calendar .dayTitles {
    display: grid;;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 0.5rem;

    & .title {
        font-size: 1.25rem;
        text-align: center;
    }
}

#calendar #days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 0.5rem;
    flex: 1;
    background-color: var(--background);
    font-size: 1.25rem;

    & > * {
        display: flex;
        align-items: top;
        justify-content: right;
        --padding: 0.5rem;
        padding: var(--padding);
        background-color: var(--background);
        transition: background-color var(--transition-time);
        border: var(--border);
        border-radius: calc(var(--radius) - var(--padding));
        cursor: pointer;
        opacity: 1;
        pointer-events: all;
        min-width: 7rem;
        min-height: 6rem;
        
        &:hover {
            background-color: var(--hover);
        }
    }

    & .empty {
        color: rgba(0,0,0,0);
        opacity: 0.2;
        text-shadow: none;
        user-select: none;
        pointer-events: none;
    }

    & .currentday {
        background-color: color-mix(in srgb, var(--accent) 10%, white);
        color: var(--accent);

        &:hover {
            background-color: color-mix(in srgb, var(--accent) 25%, white);
        }
    }
}

/* Diagram Picker */
#diagramPicker {
    z-index: 1;
    width: 100vw;
    height: 100vh;
    border: 0;
    background-color: rgba(255, 255, 255, 0.8);

    & .closeButton {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0.5rem;
        right: 0.5rem;
        width: 2rem;
        height: 2rem;
        font-size: 1rem;
        border: 0;
        border-radius: 100%;
    }

    & .inner {
        display: flex;
        flex-direction: column;
        position: absolute;
        border: var(--border);
        border-radius: var(--radius);
        width: fit-content;
        height: fit-content;
        background-color: white;
        padding: 1rem 2rem;
        box-shadow: var(--shadow);

        position: absolute;
        margin: auto;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;

        & .header {
            font-size: 2.5rem;

            & .bold { font-weight: bold; }
        }

        & .content {
            display: flex;
            flex-direction: row;

            & #diagram {
                position: relative;
                
                & #diagramImage {
                    width: 30rem;
                }

                & #selector {
                    position: absolute;
                    pointer-events: none;
                    width: 3rem;
                    height: 3rem;
                    background: rgb(255, 95, 95);
                    top: 50%;
                    left: 50%;
                    border-radius: 100%;
                    opacity: 0;
                    transform: translate(-50%, -50%);
                    transition: 350ms ease;
                }
            }

            & #sidebar {
                display: flex;
                flex-direction: column;
                gap: 0.5rem;
                max-height: auto;
            }

            & #information {
                border: var(--border);
                border-radius: var(--radius);
                width: 30rem;
                padding: 1rem;

                & h1 {
                    font-size: 2rem;
                    font-weight: normal;
                }

                & #diagramExercise {
                    font-weight: bold;
                }

                & h2 {
                    font-size: 1rem;
                    font-weight: normal;
                }

                & p {
                    font-size: 1.25rem;
                    text-overflow: ellipsis;
                }
            }

            & #buttons {
                & button {
                    border: var(--border);
                    border-radius: var(--radius);
                    font-size: 1.5rem;
                    padding: 0.5rem 1rem;
                    text-shadow: var(--shadow);
                    box-shadow: var(--shadow);
                    cursor: pointer;
                    transition: var(--transition-time) background-color;
                }

                & .primary {
                    background-color: var(--accent);
                    color: white;

                    &:hover {
                        background-color: color-mix(in srgb, black 20%, var(--accent));
                    }
                }

                & .secondary {
                    background-color: white;
                    color: black;

                    &:hover {
                        background-color: color-mix(in srgb, black 10%, white);
                    }
                }
            }
        }
    }
}

/* Diagram Selector */
area {
    cursor: pointer;
}